.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);
}

.center-container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 30vw;
  transform: translate(-50%, -50%);
  border: 10px solid;
  border-color: #fff;
  border-radius: 50%;
  -moz-transition: all 1s; 
  -webkit-transition: all 1s;  
  -ms-transition: all 1s;  
  -o-transition: all 1s;  
  transition: all 1s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.love-image  {
  width: 30vw;
  border-radius: 50%;
}

.section {
  position: absolute;
  width: 35vw;
  top: 50%;
  display: none;
}

.roy {
  left: 0%;
  text-align: center;
}

.xenia {
  right: 0;
  text-align: center;
}

.image-hover {
  height: 100%;
  width: 50%;
  position: absolute;
  cursor: pointer;
}

#roy-hover {
  top: 0;
  left: 0;
}

#roy-cover {
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); 
  border-top-left-radius: 30vw;
  border-bottom-left-radius: 30vw;
}

#xenia-hover {
  top: 0;
  right: 0;
}

#xenia-cover {
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); 
  border-top-right-radius: 30vw;
  border-bottom-right-radius: 30vw;
}

.names {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translate(-50%, 0);
}

.names .tags {
  color: #fff;
  font-size: 5vh;
  font-family: Helvetica;
}

.description {
  font-family: sans-serif;
}

.info {
  position: relative;
  display: none;
}
