<div id="gallerywrap">
    <div class="gallery-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div id="instafeed">

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->

<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: 314008447,
        accessToken: '314008447.ab103e5.e1368d0145fb435db678a7dbc1365023',
        resolution: 'low_resolution',
    });
    userFeed.run();
</script>