<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Hey Im Roy Xue</h3>
                <h3>I write some Code</h3>
                <h5>/w\</h5>
                <h5>In Tokyo, Japan Now</h5>
                <h5>よろしくお願いします</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/hello.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
