<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Roy Xue</h3>
                <h3><span data-typer-targets="I write Code, I take Photos, I write this Blog"></span></h3>
                <h5>In Mountain View, CA, U.S. Now</h5>
                <h5>よろしくお願いします</h5>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
    <!-- <div id="map-bg"></div> -->
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div><!-- /headerwrap -->


<!-- <script src="{{ '/assets/js/map_bg.js' | prepend: site.baseurl }}"></script> -->
