<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">


    <script src="{{ "/assets/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/retina-1.1.0.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.typer.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/instafeed.js" | prepend: site.baseurl }}"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.3.1/trianglify.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{{ "/assets/js/datamaps.world.min.js" | prepend: site.baseurl }}"></script>
</head>
