// Variables Definition
@black: #333333;
@blue: #03A9F4;
@red: #f44336;
@purple: #AB47BC;

@font-face {
  font-family: 'eina';
  src: url('../fonts/eina-03-semibold.ttf');
}

@font-face {
  font-family: 'matisse';
  src: url('../fonts/MatissePro-EB.otf');
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'eina', sans-serif;
  color: @black;
}

#header {
  margin-right: 1rem;
  height: 3rem;

  .link {
    margin: 0.5rem 0.5rem;
  }

  a {
    color: @black;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .link-circle {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50px;
    margin-right: 0.25rem;
  }

  .selected {
    border-bottom: 0.2rem solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

#container {
  padding-top: 2rem;
  height: calc(~"100vh - 3rem");
  width: 60%;
  margin: auto;
}

#not-found-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.blog-detail {
  background: #FAFAFA;
  padding: 1rem;
}

.blog-list-item {
  .blog-list-title {
    a {
      color: @black;
      text-decoration: none;
    }
  }
}

#blog-tags {
  .blog-tag-item {
    border-radius: 50px;
    border-width: 0.1rem;
    border-style: solid;
    border-color: @blue;
    cursor: pointer;
  }

  .blog-tag-item.selected {
    border-color: @red;
  }
}
