/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
html {
  font-family: 'LatoWeb', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

.panel{
  width: 50%;
  height: 100px;
}
.panel.left{
}
.panel.right{
}


.row-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Flex Setting */
.flex {
  display: flex;
}
.flex.f1 {
  flex: 1;
}
.flex.frow{
  flex-direction: row;
}
.flex.fcol{
  flex-direction: column;
}
.flex.al-c{
  align-items: center;
}
.flex.jc-start{
  justify-content: flex-start;
}
.flex.jc-end{
  justify-content: flex-end;
}
.flex.jc-center{
  justify-content: center;
}
.flex.jc-sb{
  justify-content: space-between;
}
